<form [formGroup]="modelForm" (ngSubmit)="add()" class="col-md-9">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li>Add new Model</li>
    </ol>
    <div class="col-md-12">
      <div class="form-group required">
        <label class="control-label col-md-4  mx-3 requiredField"> Model Name</label>
        <div class="controls col-md-12 ">
          <input formControlName="model_name" class="input-md extInput form-control" type="text" />
        </div>
      </div>
      <div class="form-group mx-3 required">
        <label class="control-label col-md-4 requiredField">Category</label>
        <select class="custom-select form-control" formControlName="category_name" placeholder="Select category">
          <option [ngValue]="category" *ngFor="let category of categories">
            {{category?.category_name}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="col-md-5 btn btn-success mx-4" [disabled]="!modelForm.valid">Add</button>
      <button type="button" class="col-md-5 btn btn-warning mx-4"
        [routerLink]="['/dashboard', 'products','model-list']">Cancel</button>
    </div>
  </div>
</form>