<div class="">
  <div class="row"> 
      <ul  class="list-group">
        <li class="list-group-item">Order number : {{order?.order_id}}</li>
        <li class="list-group-item">Due Date : {{order?.due_date  | date : 'mediumDate'}}</li>
        <li class="list-group-item">Creation Data : {{order?.creationDate  | date : 'mediumDate'}}</li>
        <li class="list-group-item">Update Date : {{order?.updatedOn  | date : 'mediumDate'}}</li>
        <li class="list-group-item">Status : {{order?.status.name}}</li>
      </ul> 
      <hr>
      <table class="table my-5">
        <thead>
          <tr col-span="7">Order items</tr>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Model</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order?.order_items;let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item?.product?.model?.category?.category_name}}</td>
            <td>{{item?.product?.model?.model_name}}</td>
            <td>{{item?.product?.name}}</td>
            <td>{{item?.product?.price}}</td>
            <td>{{item?.piece}}</td>
            <td>{{item?.piece * item?.product?.price}} .-CHF</td>
          </tr> 
        </tbody>
      </table> 
      <form [formGroup]="orderForm" (ngSubmit)="update()" class="row">
        <div class="col-sm-12 my-5">
          <div class="input-group mb-3 flex-row justify-content-start">
            <div>Order Status:</div>
            <select class="custom-select form-control mx-3" formControlName="status" placeholder="Select Status">
              <option [ngValue]="status" *ngFor="let status of statuses">{{status.name}}</option>
            </select>
            <i class="fas fa-exclamation"
              *ngIf="orderForm.get('status').hasError('required') && orderForm.get('status').touched"></i>
          </div>
      
          <div class="text-center my-5 d-flex flex-row justify-content-start">
            <button type="submit" class="btn btn-success mx-4" (click)="update()" [disabled]="!orderForm.valid">Update</button>
            <button type="button" class="btn btn-warning mx-4" [routerLink]="['/dashboard', 'dashboard-main']">Cancel</button>
            <button type="button" class="btn btn-danger mx-4">Delete</button>
          </div>
        </div>
      </form>
  </div>
</div>
