<form>
  <div class="container col">
    <div class="col">
      <div class="col text-center">
        <h3>Kostenfreie Bewertungsanfrage für Gold</h3>
        <p>Bitte füllen Sie alle Felder für Ihre Anfrage so weit wie möglich aus, dies ermöglicht uns ein genaues
          Angebot für Ihr Gold zu kalkulieren.</p>
        <p>Natürlich werden Ihre Daten sicher per SSL verschlüsselt an uns übertragen, und nicht an dritte
          weitergegeben.
        </p>
      </div>
    </div>
    <div class="form-contact">
      <cristal-form-contact></cristal-form-contact>
    </div>
    <div class="form-product">
      <div class="form">
        <div class="col mt-4">
          <label>Schmuck Daten</label>
          <input type="text" class="form-control mb-1" placeholder="Schmuckart">
        </div>
        <div class="col">
          <input type="number" class="form-control mb-1" placeholder="Gewicht">
        </div>
        <div class="col">
          <input type="number" class="form-control mb-1" placeholder="Edelsteine z.B Diamanten">
        </div>
        <div class="col mb-1">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Feingehalt</option>
            <option>333 - 8 Karat</option>
            <option>375 - 9 Karat</option>
            <option>585 - 14 Karat</option>
            <option>750 - 18 Karat</option>
            <option>875 - 21 Karat</option>
            <option>916 - 22 Karat</option>
            <option>999 - 24 Karat</option>
          </select>
        </div>
        <div class="col mb-1">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Zertifikat</option>
            <option>Ja</option>
            <option>Nein</option>
          </select>
        </div>
        <div class="col mb-1">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Zustand</option>
            <option>Ungetragen ohne Gebrauchsspuren</option>
            <option>Normale Gebrauchsspuren</option>
            <option>Defekt</option>
          </select>
        </div>
        <div class="col mb-1">
          <input type="number" class="form-control mb-1" placeholder="Ihre Preisvorstellung">
        </div>
        <div class="col-md-3 ml-3 mb-1 custom-file">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Bild hocladen</label>
        </div>
        <div class="col-md-3 ml-3 mb-1 custom-file">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Bild hocladen</label>
        </div>
        <div class="col-md-3 ml-3 mb-1 custom-file">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Bild hocladen</label>
        </div>
      </div>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary my-3">Senden</button>
    </div>
  </div>
</form>
