<footer id="footer-wrapper" class="wrapper">
  <div id="footer" class="container pt-sm pb-sm">
      <div class="row">
<div id="fb1" class="footerBox col-xs-12 col-sm-12 col-md-3 col-lg-3">
  <span>Adresse</span>
  <p>Märtplatz 5, 8307 Effretikon</p>
</div>
<div id="fb2" class="footerBox col-xs-12 col-sm-6 col-md-3 col-lg-3">
  <span>Telefon</span>
  <a href="tel:0041442510903">+41 (0) 52 343 87 75</a>
</div>
<div id="fb3" class="footerBox col-xs-12 col-sm-6 col-md-3 col-lg-3">
  <span>E-Mail</span> <a href="">cristalschmuck@gmail.com</a>
</div>
<div id="fb4" class="footerBox col-xs-12 col-sm-12 col-md-3 col-lg-3">
  <h4>Öffnungszeiten:</h4>
  <p>Montag - Freitag:</p>
  <p>9:00 - 19:00 Uhr</p>
  <p>Samstag:</p>
  <p>9:00 - 17:00 Uhr</p><p>
</p></div>
</div>
  </div>
</footer>