<div class="">
  <div class="row">
    <div class="row col-md-5 text-center">
      <img src="./assets/images/valentinstag.jpg" class="rounded w-100" alt="...">
    </div>
    <div class="col-md-6 m-5">
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile02">
          <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose
            Image</label>
        </div>
        <div class="input-group-append">
          <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
        </div>
      </div>
      <div class="input-group mb-3">
        <select class="custom-select" id="inputGroupSelect02">
          <option selected>Select Category</option>
          <option value="1">Uhren</option>
          <option value="2">Schmuck</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Titel">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Description">
      </div>
      <div class="input-group mb-3">
        <input type="date" class="form-control" placeholder="Duration">
      </div>
    </div>
  </div>
  <div class="text-center m-5">
    <button type="button" class="btn btn-success mx-4">Speichern</button>
    <button type="button" class="btn btn-warning mx-4">Abbrechen</button>
    <button type="button" class="btn btn-danger mx-4">Löschen</button>
  </div>
</div>
