<div class="">
  <div class="row">
    <form [formGroup]="newsForm" (ngSubmit)="add()" class="row">
      <div class="row col-sm-5 text-center">
        <img src="./assets/images/valentinstag.jpg" class="w-100 rounded" alt="...">
      </div>
      <div class="col-sm-6 m-5">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input form-control" formControlName="image" id="inputGroupFile02">
            <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose Image</label>
          </div>
        </div>
        <div class="input-group mb-3">
          <select class="custom-select form-control" formControlName="category" placeholder="Select Category" >
            <option value="" disabled selected>Select Category</option>
            <option value="1">Uhren</option>
            <option value="2">Schmuck</option>
          </select>
          <i class="fas fa-exclamation"
            *ngIf="newsForm.get('category').hasError('required') && newsForm.get('category').touched"></i>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" formControlName="titel" placeholder="Titel">
          <i class="fas fa-exclamation"
            *ngIf="newsForm.get('titel').hasError('required') && newsForm.get('titel').touched"></i>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" formControlName="description" placeholder="Description">
          <i class="fas fa-exclamation"
            *ngIf="newsForm.get('description').hasError('required') && newsForm.get('description').touched"></i>
        </div>
        <div class="input-group mb-3">
          <input type="date" class="form-control" formControlName="date" placeholder="date">
          <i class="fas fa-exclamation"
            *ngIf="newsForm.get('date').hasError('required') && newsForm.get('date').touched"></i>
        </div>
      </div>
      <div class="text-center m-5">
        <button type="submit" class="btn btn-success mx-4" [disabled]="!newsForm.valid">Speichern</button>
        <button type="button" class="btn btn-warning mx-4">Abbrechen</button>
        <button type="button" class="btn btn-danger mx-4">Löschen</button>
        <h6>{{newsForm.value}}</h6>
        <h6>{{newsForm.status}}</h6>
      </div>
    </form>
  </div>
</div>
