<div class="container marketing">
  <div *ngFor="let sale of sales" class="row featurette-divider">
    <div class="col-md-6 {{sale.position}} text-center">
      <h2 class="featurette-heading" [routerLink]="sale.link" routerLinkActive="router-link-active">{{sale.title}}</h2>
      <p class="lead">{{sale.description}}</p>
    </div>
    <div class="col-md-6">
      <img src="{{sale.image}}" class="w-100 p-3" height="300px" width="100%" alt=""
      [routerLink]="sale.link" routerLinkActive="router-link-active">
    </div>
  </div>
</div>