<div class="container">
    <div>
        <button class="col-md-5 m-3 btn btn-primary" type="button" data-toggle="collapse" data-target="#productAdd" aria-expanded="false" aria-controls="productAdd">Add new Product</button>
        <button class="col-md-5 m-3 btn btn-success" type="button" data-toggle="collapse" data-target="#serviceAdd" aria-expanded="false" aria-controls="serviceAdd">Add new Service</button>
        <div class="collapse" id="productAdd">
            <cristal-category-new class="col-md-6"></cristal-category-new>
            <cristal-model-new class="col-md-6"></cristal-model-new>
            <cristal-product-new class="col-md-6"></cristal-product-new>
        </div> 
        <div class="collapse" id="serviceAdd">
            <cristal-service-new class="col-md-6"></cristal-service-new>
        </div> 
        <button class="col-md-5 m-3 btn btn-info" type="button" data-toggle="collapse" data-target="#orderAdd" aria-expanded="false" aria-controls="orderAdd">Add new Order</button>
        <button class="col-md-5 m-3 btn btn-secondary" type="button" data-toggle="collapse" data-target="#artikelAdd" aria-expanded="false" aria-controls="artikelAdd">Add new Artikel</button>
        <div class="collapse" id="orderAdd">
            <cristal-orders-new class="col-md-6"></cristal-orders-new>
        </div> 
        <div class="collapse" id="artikelAdd">
            <cristal-artikel-category-new class="col-md-6"></cristal-artikel-category-new>
            <cristal-artikel-new class="col-md-6"></cristal-artikel-new>
        </div> 
    </div>
    <div>
        <div></div>        
        <div></div>
    </div>
</div>
