.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}