<form [formGroup]="categoryForm" (ngSubmit)="update()" class="row">
    <div class="col-sm-12 my-5">
      <div class="input-group mb-3 flex-row justify-content-start">
        <div>Category Name:</div>
        <input type="text" class="form-control" formControlName="category_name" placeholder="Titel">
      </div>
  
      <div class="text-center my-5 d-flex flex-row justify-content-start">
        <button type="submit" class="btn btn-success mx-4"  [disabled]="!categoryForm.valid">Update</button>
        <button type="button" class="btn btn-warning mx-4" [routerLink]="['/dashboard', 'category-list']">Cancel</button>
        <button type="button" class="btn btn-danger mx-4" (click)="delete()">Delete</button>
      </div>
    </div>
  </form>