<div class="container col my-5">
  <div class="form-contact">
    <cristal-info-box></cristal-info-box>
  </div>
  <div class="form-contact mt-5 text-center">
    <h3>Weitere Fragen</h3>
  </div>
  <div class="form-contact">
    <cristal-form-contact></cristal-form-contact>
  </div>
  <div class="col my-1">
    <textarea class="form-control" rows="3"
      placeholder="Ihre Frage"></textarea>
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary my-3">Senden</button>
  </div>
</div>
