<div class="container">
  <div class="col mt-4">
    <label>Daten</label>
    <input type="text" class="form-control mb-1" placeholder="Data">
  </div>
  <div class="col mt-4">
    <input type="text" class="form-control mb-1" placeholder="Data">
  </div>
  <div class="col mt-4">
    <input type="text" class="form-control mb-1" placeholder="Data">
  </div>
  <div class="col mt-4">
    <input type="text" class="form-control mb-1" placeholder="Data">
  </div>
  <div class="col mt-4">
    <input type="text" class="form-control mb-1" placeholder="Data">
  </div>
  <div class="col mt-4">
    <input type="text" class="form-control mb-1" placeholder="Data">
  </div>
  <div class="col mt-4">
    <input type="text" class="form-control mb-1" placeholder="Data">
  </div>
  <div>
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
  </div>
</div>
