<form>
  <div class="container col">
    <div class="col">
      <div class="col text-center">
        <h3>Kostenfreie Bewertungsanfrage für Uhren</h3>
        <p>Interessant für unseren Uhren Ankauf sind die Marken: Breitling, Rolex, IWC, Omega, Zenith,
          Cartier, Jaeger LeCoultre, Tag Heuer, Hublot, Chopard, Rado, Longines und andere.</p>
        <p>Bitte füllen Sie alle Felder für Ihre Anfrage so weit wie möglich aus, dies ermöglicht uns ein genaues
          Angebot für Ihre Uhr zu kalkulieren.</p>
        <p>Natürlich werden Ihre Daten sicher per SSL verschlüsselt an uns übertragen, und nicht an dritte
          weitergegeben.
        </p>
      </div>
    </div>
    <div class="form-contact">
      <cristal-form-contact></cristal-form-contact>
    </div>
    <div class="form-product">
      <div class="form">
        <div class="col mt-4">
          <label>Uhren Daten</label>
          <input type="text" class="form-control mb-1" placeholder="Uhren Marke">
        </div>
        <div class="col">
          <input type="number" class="form-control mb-1" placeholder="Model von Marke">
        </div>
        <div class="col">
          <input type="number" class="form-control mb-1" placeholder="Referenznummer">
        </div>
        <div class="col">
          <input type="number" class="form-control mb-1" placeholder="Baujahr">
        </div>
        <div class="col">
          <input type="number" class="form-control mb-1" placeholder="Gehäusematerial">
        </div>
        <div class="col">
          <input type="number" class="form-control mb-1" placeholder="Armbandmaterial">
        </div>
        <div class="col mb-1">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Orginal Papiere Vorhanden</option>
            <option>Ja</option>
            <option>Nein</option>
          </select>
        </div>
        <div class="col mb-1">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Original Box vorhanden</option>
            <option>Ja</option>
            <option>Nein</option>
          </select>
        </div>
        <div class="col mb-1">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Zustand</option>
            <option>Ungetragen ohne Gebrauchsspuren</option>
            <option>Normale Gebrauchsspuren</option>
            <option>Defekt</option>
          </select>
        </div>
        <div class="col mb-1">
          <input type="number" class="form-control mb-1" placeholder="Ihre Preisvorstellung">
        </div>
        <div class="col-md-3 ml-3 mb-1 custom-file">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Bild hocladen</label>
        </div>
        <div class="col-md-3 ml-3 mb-1 custom-file">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Bild hocladen</label>
        </div>
        <div class="col-md-3 ml-3 mb-1 custom-file">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Bild hocladen</label>
        </div>
      </div>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary my-3">Senden</button>
    </div>
  </div>
</form>
