<ngb-carousel #carousel interval="3000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
  <ng-template ngbSlide *ngFor="let slide of sliders; index as i">
    <div class="carousel-caption">
      <h3>{{slide?.title}}</h3>
      <p>{{slide?.body}}</p>
    </div>
    <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img [src]="slide?.image_url" style="width: 100%;" alt="{{slide?.body}}">
      </div>
    </a>
  </ng-template>
</ngb-carousel>
