
  <div class="row">
    <form class="col-md-12" [formGroup]="artikelCategoryForm" (ngSubmit)="add()">
      <div class="mainbox col-md-9 col-sm-6">
        <ol class="breadcrumb">
          <li>Add Artikel Category Name</li>
        </ol>
        <div class="panel panel-info">
          <div class="panel-body">
            <div class="form-horizontal">
              <div class="form-group required">
                <label class="control-label col-md-12  requiredField">Name</label>
                <div class="controls col-md-12 ">
                  <input formControlName="category_name" class="input-md  textinput textInput form-control"
                    type="text" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-success col-md-4 mx-5" [disabled]="!artikelCategoryForm.valid">Add</button>
          <button type="button" class="btn btn-warning col-md-4 "
            [routerLink]="['/dashboard', 'artikel-category-list']">Cancel</button>
        </div>
      </div>
    </form>
  </div>