

<div class="product-status-wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="d-flex flex-row bd-highlight justify-content-between mb-3">
    <div class="add-product">
      <a [routerLink]="['/dashboard','products', 'model-new']" routerLinkActive="active">
        <button type="button" class="btn btn-primary">Add Model</button>
      </a>
    </div>
  </div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="text-align-center">
      <tr *ngFor="let item of models">
        <td>{{item?.category?.category_name}}</td> 
        <td>{{item.model_name}}</td> 
        <td>
          <div class="d-flex justify-content-end">
            <button type="botton" class="btn btn-success" style="width: 5rem; height: 2rem;" [routerLink]="['/dashboard','products', 'model-update', item?.model_id ]" routerLinkActive="active">Edit</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>