<form class="" [formGroup]="contactForm" (ngSubmit)="add()">
  <div class="col">
    <label>Kontakt Daten</label>
    <input type="text" class="form-control mb-1" placeholder="Name" formControlName="name">
    <i class="fas fa-exclamation"
      *ngIf="contactForm.get('name').hasError('required') && contactForm.get('name').touched"></i>
  </div>
  <div class="col">
    <input type="email" class="form-control mb-1" placeholder="Email" formControlName="email">
    <i class="fas fa-exclamation"
      *ngIf="contactForm.get('email').hasError('required') && contactForm.get('email').touched"></i>
  </div>
  <div class="col">
    <input type="number" class="form-control mb-1" placeholder="Telefon" formControlName="telefon">
    <i class="fas fa-exclamation"
      *ngIf="contactForm.get('telefon').hasError('required') && contactForm.get('telefon').touched"></i>
  </div>
</form>
