<div class="col-md-12 my-5">
    <div class="">
        <h2>User Detail</h2>
    </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <input type="text" class="form-control" placeholder="Firstname" value="" required="">
        </div>
        <div class="col-md-6 mb-3">
          <input type="text" class="form-control" placeholder="Lastname" value="" required="">
        </div>
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="Email">
      </div>

      <div class="mb-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Username" required="">
        </div>
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Adress" required="">
      </div>

      <div class="row">
        <div class="col-md-5 mb-3">
          <input type="text" class="form-control" placeholder="Country" required="">
        </div>
        <div class="col-md-4 mb-3">
          <input type="text" class="form-control" placeholder="State" required="">
        </div>
        <div class="col-md-3 mb-3">
          <input type="text" class="form-control" placeholder="Zip" required="">
        </div>
      </div>
      <div class="text-center m-5">
        <button type="button" class="btn btn-success mx-4">Speichern</button>
        <button type="button" class="btn btn-warning mx-4">Abbrechen</button>
        <button type="button" class="btn btn-danger mx-4">Löschen</button>
      </div>
  </div>