<div class="">
  <div class="row">
    <form [formGroup]="productForm" (ngSubmit)="add()" class="row">
      <div class="row col-sm-5 text-center">
        <img src="./assets/images/certina.jpg" class="w-100 rounded" alt="...">
      </div>
      <div class="col-sm-6 m-5">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input form-control" formControlName="image" id="inputGroupFile02">
            <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose
              Image</label>
          </div>
        </div>
        <div class="input-group mb-3">
          <select class="custom-select form-control" formControlName="category" placeholder="Select Category">
            <option value="" disabled selected>Select Category</option>
            <option value="1">Uhren</option>
            <option value="2">Schmuck</option>
          </select>
          <i class="fas fa-exclamation"
            *ngIf="productForm.get('category').hasError('required') && productForm.get('category').touched"></i>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" formControlName="titel" placeholder="Titel">
          <i class="fas fa-exclamation"
            *ngIf="productForm.get('titel').hasError('required') && productForm.get('titel').touched"></i>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" formControlName="description" placeholder="Description">
          <i class="fas fa-exclamation"
            *ngIf="productForm.get('description').hasError('required') && productForm.get('description').touched"></i>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" formControlName="stock" placeholder="Stock">
          <i class="fas fa-exclamation"
            *ngIf="productForm.get('stock').hasError('required') && productForm.get('stock').touched"></i>
        </div>
      </div>
      <div class="text-center m-5">
        <button type="submit" class="btn btn-success mx-4" [disabled]="!productForm.valid">Speichern</button>
        <button type="button" class="btn btn-warning mx-4">Abbrechen</button>
        <button type="button" class="btn btn-danger mx-4">Löschen</button>
        <h6>{{productForm.value}}</h6>
        <h6>{{productForm.status}}</h6>
      </div>
    </form>
  </div>
</div>
