<div class="product-status-wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="d-flex flex-row bd-highlight justify-content-between mb-3">
      <div>
        <h4>Order List</h4>
      </div>
    <div class="add-product">
      <a [routerLink]="['/dashboard', 'orders-new']" routerLinkActive="active">
        <button type="button" class="btn btn-primary">Add Order</button>
      </a>
    </div>
  </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Titel</th>
          <th scope="col">Status</th>
          <th scope="col">Price</th>
          <th scope="col">Due date</th>
        </tr>
      </thead>
      <tbody class="text-align-center">
        <tr *ngFor="let item of orders">
          <td scope="row">
            <img src="./assets/images/certina.jpg"  style="width: 4rem; height: 4rem;" class="" alt="">
          </td>
          <td>{{item.name}}</td>
          <td>{{item.status}}</td>
          <td>{{item.total}}</td>
          <td>{{item.due_date | date : 'mediumDate'}}</td>
          <td>
            <div>
              <button type="botton" class="btn btn-success" style="width: 5rem; height: 2rem;" [routerLink]="['/dashboard', 'orders-update', item?.order_id ]" routerLinkActive="active">Edit</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  