<div class="product-status-wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="d-flex flex-row bd-highlight justify-content-between mb-3">
      <div>
        <h4>News List</h4>
      </div>
  
    <div class="add-news">
      <a href="news-detail.html">
        <button type="button" class="btn btn-primary">Add News</button>
      </a>
    </div>
  </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Titel</th>
          <th scope="col">Description</th>
          <th scope="col">Duration</th>
          <th scope="col">Settings</th>
        </tr>
      </thead>
      <tbody class="text-align-center">
        <tr>
          <td scope="row">
            <img src="./assets/images/valentinstag.jpg"  style="width: 4rem; height: 4rem;" class="" alt="">
          </td>
          <td>Valentinstag</td>
          <td>Aktion</td>
          <td>bis 14.Februar</td>
          <td>
            <div class="row">
                <div class="col-sm-3">
                  <a href=""><i class="fas fa-trash-alt"></i></a>
                </div>
                <div class="col-sm-3">
                  <a href=""><i class="fas fa-edit"></i></a>
                </div>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>