<form>
  <div class="container col">
    <div class="col">
      <div class="col text-center">
        <h3>Termin vereinbaren</h3>
        <p>Bitte füllen Sie alle Felder für Ihre Anfrage so weit wie möglich aus.</p>
        <p>Ihre Daten werden sicher per SSL verschlüsselt an uns übertragen, und nicht an dritte
          weitergegeben.
        </p>
      </div>
    </div>
    <div class="form-contact">
      <cristal-form-contact></cristal-form-contact>
    </div>
    <div class="col">
      <input type="date" class="form-control mb-1" placeholder="" required>
    </div>
    <div class="col">
      <input type="text" class="form-control mb-1" placeholder="09:00 - 18:00" required>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary my-3">Senden</button>
    </div>
  </div>
