<div class="container">
    <form [formGroup]="artikelForm" (ngSubmit)="update()" class="col-md-12">
        <div class=" col-md-6 col-sm-8">
            <div class="col-md-12">
                <cristal-image-uploader [imageUrl]="artikel?.image_url" (setImageUrl)="setImageUrl($event)">
                </cristal-image-uploader>
            </div>
        </div>
        <div class="row">
            <div class="mainbox col-md-12 col-sm-8">
                <ol class="breadcrumb">
                    <li>Add Artikel details</li>
                </ol>
                <div class="panel panel-info" *ngIf="artikel">
                    <div class="panel-body">
                        <div class="form-horizontal">

                            <div class="form-group required">
                                <label class="control-label col-md-4 requiredField">category</label>
                                <select class="custom-select form-control mx-3" placeholder="Select category"
                                formControlName="category">
                                <option [ngValue]="category?.category_id" *ngFor="let category of categories">
                                        {{category?.category_name}}</option>
                                </select>
                            </div>

                            <div class="form-group required">
                                <label class="control-label col-md-4 requiredField">Titel</label>
                                <div class="controls col-md-12 ">
                                    <input formControlName="title" class="input-md textinput textInput form-control"
                                        type="text" />
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="control-label col-md-4 requiredField">Body</label>
                                <div class="controls col-md-12 ">
                                    <textarea formControlName="body"
                                        class="input-md textinput textInput form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="controls col">
                    <input type="submit" value="Update" class="col-md-12 btn btn btn-primary" />
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="controls col">
                    <input type="button" value="Delete" class="col-md-12 btn btn btn-danger" (click)="delete()" />
                </div>
            </div>
        </div>
    </form>
</div>