<div class="product-status-wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="d-flex flex-row bd-highlight justify-content-between mb-3">
    <div>
      <h4>Products List</h4>
    </div>
    <div>
      <input type="text" placeholder="Search">
    </div>
  <div class="add-product">
    <a href="product-detail.html">
      <button type="button" class="btn btn-primary">Add Product</button>
    </a>
  </div>
</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Titel</th>
        <th scope="col">Description</th>
        <th scope="col">Stock</th>
        <th scope="col">Price</th>
        <th scope="col">Settings</th>
      </tr>
    </thead>
    <tbody class="text-align-center">
      <tr>
        <td scope="row">
          <img src="./assets/images/certina.jpg"  style="width: 4rem; height: 4rem;" class="" alt="">
        </td>
        <td>Rado</td>
        <td>HerrenUhr</td>
        <td>2</td>
        <td>890.-</td>
        <td>
          <div>
            <button type="botton" class="btn btn-success" style="width: 5rem; height: 2rem;">Edit</button>
          </div>
          <div>
            <button type="botton" class="btn btn-danger" style="width: 5rem; height: 2rem;">Delete</button>
          </div>
        </td>
      </tr>
      <tr>
        <td scope="row">
          <img src="./assets/images/certina.jpg"  style="width: 4rem; height: 4rem;" class="" alt="">
        </td>
        <td>Rado</td>
        <td>HerrenUhr</td>
        <td>2</td>
        <td>890.-</td>
        <td>
          <div>
            <button type="botton" class="btn btn-success" style="width: 5rem; height: 2rem;">Edit</button>
          </div>
          <div>
            <button type="botton" class="btn btn-danger" style="width: 5rem; height: 2rem;">Delete</button>
          </div>
        </td>
      </tr>
      <tr>
        <td scope="row">
          <img src="./assets/images/certina.jpg"  style="width: 4rem; height: 4rem;" class="" alt="">
        </td>
        <td>Rado</td>
        <td>HerrenUhr</td>
        <td>2</td>
        <td>890.-</td>
        <td>
          <div>
            <button type="botton" class="btn btn-success" style="width: 5rem; height: 2rem;">Edit</button>
          </div>
          <div>
            <button type="botton" class="btn btn-danger" style="width: 5rem; height: 2rem;">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="custom-pagination">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </div>
</div>
