<div class="container marketing">
    <div class="row featurette-divider" [routerLink]="['/services/uhren-reparatur']" routerLinkActive="router-link-active">
      <div class="col-md-6 text-center">
        <h2 class="featurette-heading">Uhren Reparatur</h2>
      </div>
      <div class="col-md-6">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="300"
          xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
          aria-label="Placeholder: 500x500">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>
    
    <hr _ngcontent-dsa-c6="" class="featurette-divider">
    <div class="row featurette-divider " [routerLink]="['/services/schmuck-reparatur']" routerLinkActive="router-link-active">
      <div class="col-md-6 order-md-2 text-center">
        <h2 class="featurette-heading">Schmuck Reparatur</h2>
      </div>
      <div class="col-md-6 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="300"
          xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
          aria-label="Placeholder: 500x500">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>
  </div>