<div class="container marketing">
  <div *ngFor="let repair of repairs" class="row featurette-divider">
    <div class="col-md-6 {{repair.position}} text-center">
      <h2 class="featurette-heading" [routerLink]="repair.link" routerLinkActive="router-link-active">{{repair.title}}</h2>
      <p class="lead">{{repair.description}}</p>
    </div>
    <div class="col-md-6">
      <img src="{{repair.image}}" class="w-100 p-3" height="300px" alt=""
      [routerLink]="repair.link" routerLinkActive="router-link-active">
    </div>
  </div>
</div>