
  <div class="row">
    <form class="col-md-12" [formGroup]="artikelCategoryForm" (ngSubmit)="update()">
      <div class="mainbox col-md-9 col-sm-6">
        <ol class="breadcrumb">
          <li>Edit Artikel Category Name</li>
        </ol>
        <div class="panel panel-info">
          <div class="panel-body">
            <div class="form-horizontal">
              <div class="form-group required">
                <label class="control-label col-md-12  requiredField">Name</label>
                <div class="controls col-md-12 ">
                  <input formControlName="category_name" class="input-md  textinput textInput form-control"
                    type="text" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="col-md-3 btn btn-success mx-4"  [disabled]="!artikelCategoryForm.valid">Update</button>
          <button type="button" class="col-md-3 btn btn-warning mx-4" [routerLink]="['/dashboard', 'artikel-category-list']">Cancel</button>
          <button type="button" class="col-md-3 btn btn-danger mx-4" (click)="delete()">Delete</button>
        </div>
      </div>
    </form>
  </div>
      