<form>
  <div class="container col">
    <div class="col">
      <div class="col text-center">
        <h3>Nachfrage für bestimmte Artikel</h3>
        <p>Bitte füllen Sie alle Felder für Ihre Anfrage so weit wie möglich aus, dies ermöglicht uns ein genauer
          Treffer für Ihre Suche!</p>
        <p>Natürlich werden Ihre Daten sicher per SSL verschlüsselt an uns übertragen, und nicht an dritte
          weitergegeben.
        </p>
      </div>
    </div>
    <div class="form-contact">
      <cristal-form-contact></cristal-form-contact>
    </div>
    <div class="col mb-1">
      <textarea class="form-control" rows="3"
        placeholder="Ich habe noch einige Fragen in Bezug Preise und/oder Verfügbarkeit :"></textarea>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary my-3">Senden</button>
    </div>
  </div>
