

<div class="product-status-wrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="d-flex flex-row bd-highlight justify-content-between mb-3">
      <div>
        <h4>Product List</h4>
      </div>
    <div class="add-product">
      <a [routerLink]="['/dashboard', 'product-new']" routerLinkActive="active">
        <button type="button" class="btn btn-primary">Add Product</button>
      </a>
    </div>
  </div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Model</th>
        <th scope="col">Category</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="text-align-center">
      <tr *ngFor="let item of products">
        <td>{{ item?.name }}</td> 
        <td>{{ item?.model?.model_name }}</td> 
        <td>{{ item?.model?.category?.category_name }}</td> 
        <td>
          <div>
            <button type="botton" class="btn btn-success" style="width: 5rem; height: 2rem;" [routerLink]="['/dashboard', 'product-update', item.product_id ]" routerLinkActive="active">Edit</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>