<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-around">
    <a class="p-2 text-muted" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
    <a class="p-2 text-muted" [routerLink]="['aktuel']" routerLinkActive="router-link-active">Aktuel</a>
    <a class="p-2 text-muted" [routerLink]="['sales']" routerLinkActive="router-link-active">Sale</a>
    <a class="p-2 text-muted" [routerLink]="['services']" routerLinkActive="router-link-active">Services</a>
    <a class="p-2 text-muted" [routerLink]="['contact']" routerLinkActive="router-link-active">Contact</a>

    <a *ngIf="istokenExpired" class="p-2 text-muted" [routerLink]="['login']" routerLinkActive="router-link-active">Login</a>
    <a *ngIf="!istokenExpired" class="p-2 text-muted" [routerLink]="['/dashboard/dashboard-main']" routerLinkActive="router-link-active">Dashboard</a>
  </nav>
</div>
